* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      circle at top left,
      #652cd1,
      rgb(18, 24, 38, 0.5) 30%
    ),
    radial-gradient(circle at bottom right, #652cd1, #121826 30%);
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#step1 {
  height: 400px;
  min-height: fit-content;
  width: 500px;
  max-width: 80%;
  color: #e5e7eb;
  background-color: #212936;
  border: solid 1px #4d5562;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#step1 h1,
#step2 h1,
#step3 h1 {
  margin-bottom: 30px;
  font-weight: 400;
}
#step1 label {
  font-size: 15px;
}
#step1 input {
  color: #e5e7eb;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  line-height: 2;
  padding: 5px 15px;
  border-radius: 10px;
  border: solid 2px #4d5562;
  outline: none;
}
#step1 button,
#step2 button,
#step3 button {
  align-self: center;
  background-image: linear-gradient(#845eee, #652cd1);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: #e5e7eb;
  cursor: pointer;
}
#step2 {
  height: 400px;
  min-height: fit-content;
  width: 500px;
  max-width: 80%;
  color: #e5e7eb;
  background-color: #212936;
  border: solid 1px #4d5562;
  border-radius: 10px;
  padding: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#step2 ul {
  list-style-type: none;
  width: 100%;
}
#step2 ul li {
  margin-bottom: 20px;
}
#step2 ul li label {
  display: block;
  background-color: #4d5562;
  width: 100%;
  padding: 15px 20px;
  border: solid 1px #a1a1a9;
  border-radius: 10px;
}
#step2 ul li label:has(input[type="checkbox"]:checked) {
  background-color: #652cd1;
  border: solid 1px #845eee;
}
#step2 ul li label input {
  display: none;
}
#step3 {
  height: 400px;
  min-height: fit-content;
  width: 500px;
  max-width: 80%;
  color: #e5e7eb;
  background-color: #212936;
  border: solid 1px #4d5562;
  border-radius: 10px;
  padding: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#step3 p {
  width: 100%;
  margin-bottom: 10px;
  color: #a1a1a9;
}
#step3 p:nth-of-type(2) {
  margin-bottom: 25px;
}
#step3 span {
  color: #e5e7eb;
}
#step3 ul {
  margin-left: 30px;
}
#step3 ul li {
  margin-bottom: 15px;
}

#counter {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #4d5562;
  font-size: 15px;
}
#counter div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.step {
  background-color: #4d5562;
}
.stepComplete {
  background-color: #652cd1;
  outline: 4px solid #845eee;
}
footer,
footer p a {
  margin-top: 50px;
  color: #e5e7eb;
}

/* media screen */
@media screen and (max-width: 375px) {
  #step1,
  #step2,
  #step3 {
    padding: 40px 15px;
  }
  #step1 h1,
  #step2 h1,
  #step3 h1 {
    font-size: 20px;
  }
  #step2 ul li label {
    font-size: 12px;
    padding: 10px 10px;
  }
  #step3 p,
  #step3 ul li {
    font-size: 12px;
  }
}
